.section.benefits {
  @media screen and (min-width: 1200px) {
    padding-bottom: 47px;
  }
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.benefits-list__item {
  margin: 15px;
  flex-basis: 100%;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.benefits-list__card {
  @include flex();
  justify-content: center;
  height: 120px;
  background: var(--section-secondary-color);
  border-radius: 4px;
}

.benefits-list__title {
  text-align: center;
  margin-top: 30px;
  @include font(700, 14px, 16px);
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.benefits-list__text {
  margin-top: 10px;
  @include font(400, 14px, 24px);
  color: var(--text-item-color);
  &:not(:last-child) {
    margin-right: 30px;
  }
}
