.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-aside-color);
  margin: 0 auto;
}
.footer-container {
  align-items: baseline;
  display: block;
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.footer-address {
  font-style: normal;
  text-align: center;
  margin-right: 0px;
  width: 100%;
  @media (min-width: 768px) {
    //margin-right: 165px;
    width: 50%;
  }
  @media (min-width: 1200px) {
    width: 231px;
    margin-right: 70px;
    text-align: start;
  }
}
.address-list {
  display: block;
  margin-bottom: 60px;
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
}
.address-list__row:not(:last-child) {
  margin-bottom: 8px;
}

.address-list__link {
  @include font(400, 14px, 24px);
  color: var(--text-item-color);
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--timing-duration) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.maps {
    color: var(--primary-title-color);
  }
}
