.header {
  @media (max-width: 767px) {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #ececec;
}
.header-container {
  @include flex();
}

.header-navigate {
  display: flex;
  margin-left: 0;
  align-items: start;
  @media (max-width: 767px) {
    @include flex();
    display: none;
  }
  @media (max-width: 1199px) {
    margin-left: 88px;
  }
}

.site-nav {
  @include flex();
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav-link {
  @include font(500, 14px, 16px, 0.02em);
  color: var(--title-text-color);
  position: relative;
  transition: color var(--timing-duration) var(--timing-function);
  &:hover,
  &:focus,
  &.current {
    color: var(--accent-color);
  }
}

.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -40px;
  @media (min-width: 768px) {
    bottom: -45px;
  }
  @media (min-width: 1200px) {
    bottom: -40px;
  }
}

.auth-nav {
  @include flex();
  margin-left: auto;
  display: none;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: normal;
  }
}
.auth-nav__item:not(:last-child) {
  @media (min-width: 768px) {
    margin-bottom: 10px;
  }
  @media (min-width: 1200px) {
    margin-right: 50px;
  }
}

.auth-nav-link {
  @media (min-width: 768px) {
    @include font(500, 12px, 14px, 0.02em);
  }
  @media (min-width: 1200px) {
    @include font(500, 14px, 16px, 0.02em);
  }
  color: var(--text-item-color);
  @include flex();
  transition: color var(--timing-duration) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
