.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--timing-duration) var(--timing-function);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  // display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  color: var(--title-text-color);
  background-color: var(--primary-title-color);
}

.menu-button .icon-close {
  // display: none;
  border: none;
}
.menu-button .is-open .icon-close {
  display: block;
}
.menu-button .icon-menu {
  // display: none;
}

.menu-container {
  // display: flex;
  // flex-direction: column;
  width: 100vw;
  height: 100%;
  padding: 10px 15px 0 40px;
  display: flex;
  justify-content: space-between;
  // width: 480px;
  // height: 796px;
  position: absolute;
  background: var(--primary-title-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
}
.menu-navigation {
  padding-top: 38px;
}
// ul
.menu-list {
}
.menu-list__item {
  @include font(500, 40px, 47px, 0.02em);
  text-align: center;
  color: var(--title-text-color);
}

.contacts__item {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
