.company {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-bottom: -15px;
  margin-right: -15px;
}

.company__partner {
  margin: 15px;
  // width: 170px;
  height: 92px;
  @media screen and (min-width: 480px) {
    flex-basis: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.company__link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--social-icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  @include flex();
  justify-content: center;
  transition: border var(--timing-duration) var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
  .company__icon {
    width: 106px;
    height: 60px;
    fill: var(--social-icon-color);
    transition: fill var(--timing-duration) var(--timing-function);
  }
}
.company__link:hover .company__icon,
.company__link:focus .company__icon {
  fill: var(--accent-color);
}
