.logo {
  font-family: "Raleway", sans-serif;
  @include font(400, 24px, 28px);
  color: var(--accent-color);
  // text-align: center;
  align-items: start;
  @media (min-width: 1200px) {
    margin-right: 95px;
    @include font(400, 26px, 31px);
  }
}
.text {
  font-family: "Raleway", sans-serif;
  @include font(400, 24px, 28px);
  color: var(--title-text-color);
  @media (min-width: 1200px) {
    margin-right: 95px;
    @include font(400, 26px, 31px);
  }
}
.footer .logo {
  margin-bottom: 20px;
}
.footer .text {
  color: var(--primary-title-color);
}
