.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 95px;
  color: var(--accent-color);
  .text {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    color: var(--title-text-color);
  }
}

.footer .logo {
  margin-bottom: 20px;
}
.footer .text {
  color: var(--primary-title-color);
}
