:root {
  --primary-title-color: #ffffff;
  --title-text-color: #212121;
  --text-item-color: #757575;
  --section-aside-color: #2f303a;
  --section-secondary-color: #f5f4fa;
  --social-icon-color: #afb1b8;
  --accent-color: #2196f3;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-duration: 250ms;
}
